<p id="notice"><%= notice %></p>

<h1><%="Owner: #{@client}" %></h1>
<h1>Pets:</h1>

<table class="table text-center">
  <thead>
    <tr>
      <th>Owner Name</th>
      <th>Name</th>
      <th>Race</th>
      <th>Birthdate</th>
      <th>Nº Of Vet Visits</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.client%></td>
        <td><%= pet.name%></td>
        <td><%= pet.race %></td>
        <td><%= pet.birthdate %></td>
        <td><%= pet.history_count %></td>
        <td><%= link_to 'History', client_pet_pethistories_path(@client, pet) %></td>
        <td><%= link_to 'Show', [@client, pet] %></td>
        <td><%= link_to 'Edit', edit_client_pet_path(@client, pet) %></td>
        <td><%= link_to 'Destroy', [@client, pet], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_client_pet_path %>
<%= link_to 'Client List', clients_path %>
