<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthdate %>
</p>

<table class="table text-center">
  <thead>
    <tr>
      <th>Average Weight</th>
      <th>Average Height</th>
      <th>Maximum Weight</th>
      <th>Maximum Height</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @pet.avg_weight%></td>
        <td><%= @pet.avg_height%></td>
        <td><%= @pet.max_weight%></td>
        <td><%= @pet.max_height%></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_client_pet_path(@client, @pet) %> |
<%= link_to 'Back', client_pets_path %>
